<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="index.html">KWABENA AFRIYIE POKU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link" href="index.html">HOME</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="about.html">ABOUT</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FINE ART
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">PAINTINGS</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="paintings-acrylic.html">ACRYLIC</a></li>
                                <li><a class="dropdown-item" href="paintings-oil.html">OIL</a></li>
                                <li><a class="dropdown-item" href="paintings-portraits.html">PORTRAITS</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="drawings.html">DRAWINGS</a></li>
                        <li><a class="dropdown-item" href="digitalworks.html">DIGITAL WORKS</a></li>
                        <li><a class="dropdown-item" href="performances.html">PERFORMANCES AND VIDEOS</a></li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">EXHIBITIONS</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="exhibitions-posters.html">POSTERS</a></li>
                                <li><a class="dropdown-item" href="exhibitions-ordic-organisms.html">ORDIC ORGANISMS</a></li>
                                <li><a class="dropdown-item" href="exhibitions-spectacle-speculations.html">SPECTACLE SPECULATIONS</a></li>
                                <li><a class="dropdown-item" href="exhibitions-traversing-kata-forms.html">TRAVERSING KATA FORMS</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ILLUSTRATIONS
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">COMMISSIONS</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="illustrations-commissions-covers.html">COVERS</a></li>
                                <li><a class="dropdown-item" href="illustrations-commissions-stories.html">STORIES</a></li>
                                <li><a class="dropdown-item" href="illustrations-commissions-textbooks.html">TEXTBOOKS</a></li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item" href="illustrations-personal.html">PERSONAL</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="karate.html">KARATE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">CONTACT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
